<div class="absolute inset-0 z-[-1] opacity-50 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]"></div>
<div class="absolute top-0 z-[-2] h-[40vh] w-full bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_10%,rgba(8,47,73,1),rgba(255,255,255,0))]"></div>
<div class="absolute bottom-0 z-[-2] rotate-180 h-[40vh] w-full bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_10%,rgba(8,47,73,1),rgba(255,255,255,0))]"></div>
