<div class="container py-3 lg:py-4">
    <div id="header" class="bg-white p-2 lg:p-3 shadow">
        <div class="grid grid-cols-12 items-center">
            <div class="flex col-span-6 lg:col-span-3">
                <a href="{{ site:url }}" title="Back to homepage" class="text-main">
                    {{ svg src="logo" class="h-10 w-auto" }}
                </a>
                 </div>
            <div class="relative z-50 col-span-6 lg:col-span-6">
                <div class="xl:hidden flex justify-end">
                    {{ partial:blocks/menu_button }}
                </div>
                <div class="hidden xl:flex justify-center">
                    {{ partial:blocks/menu_block }}
                </div>                
            </div>
            <div class="hidden xl:flex justify-end lg:col-span-3">
                <a href="https://livewirefilters.com" title="Go back to livewirefilters.com" class="flex items-center justify-center rounded-sm border border-main text-main p-2 lg:p-3 transition duration-200 hover:bg-main hover:text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
                    </svg>
                    <span class="font-medium ml-3">Return to the docs</span>
                </a>
            </div>
        </div>
    </div>
</div> 