
<nav aria-label="Main navigation" class="main-navigation">
    <ul role="menubar" class="flex justify-center space-x-4 xl:space-x-6">
        {{ nav:main }}
            <li role="none">
                <a
                    href="{{ url }}"
                    role="menuitem"
                    class="text-main hover:text-alt transition-colors duration-500 {{ if is_current }}text-main font-bold underline{{ /if }}"
                    {{ if is_current }}
                    aria-current="page"
                    {{ /if }}
                >
                    {{ title }}
                </a>
            </li>
        {{ /nav:main }}
    </ul>
</nav>
