@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms" {
    strategy: class
}

@source "../views";
@source "../../content";

@import "./livewire-filters-theme.css";

@utility container {
    margin-inline: auto;
    max-width: 96rem;
    @apply ps-2 pe-2 lg:ps-4 lg:pe-4;
}

@theme {
    --color-main: #082F49;
    --color-alt: #016081;
}

@layer components {
    .disable-br br {
        @apply hidden lg:inline;
    }
}

pre {
    @apply overflow-x-auto;
}

pre code.torchlight {
    @apply block py-4 min-w-max;
}


pre code.torchlight .line {
    @apply px-4;
}

pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
    @apply mr-4;
}

[x-cloak] { display: none !important; }
